.brdRadius {
  border-radius: 50px;
}

.active {
  color: red !important;
}

.myPagination {
  text-decoration: none;
  cursor: pointer;
  color:black;
}

.social i {
  font-size: 2em;
  padding: 10px;
  color: rgb(19, 121, 50);
}

.social i:hover {
  /* color: rgb(11, 84, 180); */
  color: black;
}
