<main>
  <div class="container">
    <h1 class="p-1">Login
      <hr>
    </h1>
    <span class="user-icon">
      <i class="fa fa-user-circle fs-1" aria-hidden="true"></i>
    </span>
    <div class="form-wrapper text-white overflow-hidden shadow-lg">
      <form #f="ngForm">
        <div class="input-control">
          <i class="fa fa-user" aria-hidden="true"></i>
          <input type="email" #inputEmail="ngModel" class="form-control" ngModel name="email" email required
            placeholder="Enter Email">
        </div>
        <ngb-alert [dismissible]="false" *ngIf="inputEmail.invalid && inputEmail.touched"
          class="alert alert-danger fade show" role="alert">
          <small>Please Enter Valid Email</small>
        </ngb-alert>
        <div class="input-control">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <input type="password" #inputPass="ngModel" class="form-control" ngModel name="password" minlength="2"
            required placeholder="Enter Password">
        </div>
        <ngb-alert [dismissible]="false" *ngIf="inputPass.invalid && inputPass.touched"
          class="alert alert-danger fade show" role="alert">
          <small>Please Enter Valid Password</small>
        </ngb-alert>
      </form>
      <div class="signup-control">
        <span>New Here?</span>
        <button routerLink="/signup" class="btn btn-warning">Sign Up!</button>
      </div>
    </div>
    <div class="subBtn-control">
      <button (click)="onSub()" class="btn">Login</button>
    </div>
  </div>
</main>
