<footer class="">
  <div class="container-fluid p-2 bg-dark text-white footer">
    <div class="row d-flex justify-content-between align-items-center m-0">
      <div class="col-lg-4 text-white text-start">
        <img routerLink="/" src="../../../assets/images/diverIcon.png" alt="logo" class="logo_icon"> DiveWhere &#169;
      </div>
      <div class="col-lg-4 text-center">
        <span>All Copyrights are reserved to <a href="https://www.linkedin.com/in/yarin-ordman-847a33202"> Yarin Ordman
            &#169;</a></span>
      </div>
      <div class="col-lg-4 text-end">
        <span>2021</span>
      </div>
    </div>
  </div>
</footer>
