  <div class="container">
    <h1 class="p-1">Sign Up
      <hr>
    </h1>
    <span class="user-icon">
      <i class="fa fa-user-circle fs-1" aria-hidden="true"></i>
    </span>
    <div class="form-wrapper shadow-lg">
      <form #f="ngForm">
        <div class="input-control">
          <i class="fa fa-id-card" aria-hidden="true"></i>
          <input type="text" #inputName="ngModel" class="form-control" ngModel name="name" minlength="2" required
            placeholder="Enter Full Name">
        </div>
        <ngb-alert [dismissible]="false" *ngIf="inputName.invalid && inputName.touched"
          class="alert alert-danger fade show" role="alert">
          <small>Please Enter Valid Name</small>
        </ngb-alert>
        <div class="input-control">
          <i class="fa fa-user" aria-hidden="true"></i>
          <input type="email" #inputEmail="ngModel" class="form-control" ngModel name="email" email required
            placeholder="Enter Email">
        </div>
        <ngb-alert [dismissible]="false" *ngIf="inputEmail.invalid && inputEmail.touched"
          class="alert alert-danger fade show" role="alert">
          <small>Please Enter Valid Email</small>
        </ngb-alert>
        <div class="input-control">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <input type="password" #inputPass="ngModel" class="form-control" ngModel name="password" minlength="2"
            required placeholder="Enter Password">
        </div>
        <ngb-alert [dismissible]="false" *ngIf="inputPass.invalid && inputPass.touched"
          class="alert alert-danger fade show" role="alert">
          <small>Please Enter Valid Password</small>
        </ngb-alert>
      </form>
    </div>
    <div class="subBtn-control">
      <button (click)="onSub()" class="btn">SignUp</button>
    </div>
    <div class="login-control">
      <span class="fs-5">Already have an account?</span>
      <button mat-raised-button mat-dialog-close (click)="openDialog()" class="btn">Sign In!</button>
    </div>
  </div>
