nav a {
  text-decoration: none;
  color: black;
  padding: 0;
  padding: 5px 14px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.952);
}


nav a:hover {
  color: orange
}

button.active,
button:active,
nav a.nav-link.active {
  color: black;
  background-color: rgba(255, 180, 4, 0.952);
  font-weight: bold;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: end !important;
}

.show li {
  margin-bottom: 10px;
}

.logo_icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 1rem
}

nav::before {
  transition: all 2s ease-in-out;
}

nav {
  position: absolute;
  top: 56px;
  right: 0;
  background: rgba(128, 128, 128, 0.8);
}
